<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Regression"  > 
<!-- suite name="Suite Name" --> 


             <test name="Login" allow-return-values="true">
                     <classes>
                       <!-- packagename.Test Class name  -->
                             <class name ="PageObjects.RegistrationTests" />
                             <class name ="PageObjects.LandingPageTests" />
                     </classes>
             </test>


</suite>